<main>
	<div class="pure-g">
		<div id="content" class="pure-u-3-4">
			<div class="pure-g ">
				<div class="pure-u-1-2 short-con">
					<div class="short"></div>
				</div>
				<div class="pure-u-1-2 short-con">
					<div class="short"></div>
				</div>
			</div>
			<div class="pure-g">
				<div class="pure-u-1-4 tall-con">
					<div class="tall"></div>
				</div>
				<div class="pure-u-1-4 tall-con">
					<div class="tall"></div>
				</div>
				<div class="pure-u-1-4 tall-con">
					<div class="tall"></div>
				</div>
				<div class="pure-u-1-4 tall-con">
					<div class="tall"></div>
				</div>
			</div>
		</div>
		<div class="pure-u-1-24"></div>
		<div class="pure-u-1-5">
			<button id="signin" class="white">Sign in</button>
			<button id="register" class="white">Register</button>
		</div>
	</div>
</main>