<div class="pure-g">
    <div id="cover-image" class="pure-u-1">
        <div id="profile-info">
            <div id="profile-image" class="pure-u"></div>
            <h3>{{firstName}} {{lastName}}</i></h3>
            <h4>{{description}}</h4>
            <div id="controls">
                <i class="fa fa-envelope"></i>
                <i class="fa fa-info-circle"></i>
                <i class="fa fa-camera"></i>
                <i class="fa fa-plus-circle"></i>
            </div>
            {{!-- <button class="small red">Watch</button> --}}
        </div>
    </div>
</div>
