<div class="pure-g">
	<div class="pure-u-1 center">
		<input id="search" name="search" placeholder="search" />
	</div>
</div>
<div id="search-results">
	<div class="pure-g">
	    <div class="pure-u-1-4 category">
	        <img src="http://www.windowsofnewyork.com/windows/207-w-16th.png"/>
	    </div>
	    <div class="pure-u-1-4 category">
	        <img src="http://www.windowsofnewyork.com/windows/207-w-16th.png"/>
	    </div>
	    <div class="pure-u-1-4 category">
	        <img src="http://www.windowsofnewyork.com/windows/207-w-16th.png"/>
	    </div>
	    <div class="pure-u-1-4 category">
	        <img src="http://www.windowsofnewyork.com/windows/207-w-16th.png"/>
	    </div>
	</div>
	<div class="pure-g">
	    <div class="pure-u-1-4 category">
	        <img src="http://www.windowsofnewyork.com/windows/207-w-16th.png"/>
	    </div>
	    <div class="pure-u-1-4 category">
	        <img src="http://www.windowsofnewyork.com/windows/207-w-16th.png"/>
	    </div>
	    <div class="pure-u-1-4 category">
	        <img src="http://www.windowsofnewyork.com/windows/207-w-16th.png"/>
	    </div>
	    <div class="pure-u-1-4 category">
	        <img src="http://www.windowsofnewyork.com/windows/207-w-16th.png"/>
	    </div>
	</div>
	<div class="pure-g">
	    <div class="pure-u-1-4 category">
	        <img src="http://www.windowsofnewyork.com/windows/207-w-16th.png"/>
	    </div>
	    <div class="pure-u-1-4 category">
	        <img src="http://www.windowsofnewyork.com/windows/207-w-16th.png"/>
	    </div>
	    <div class="pure-u-1-4 category">
	        <img src="http://www.windowsofnewyork.com/windows/207-w-16th.png"/>
	    </div>
	    <div class="pure-u-1-4 category">
	        <img src="http://www.windowsofnewyork.com/windows/207-w-16th.png"/>
	    </div>
	</div>
	<div class="pure-g">
	    <div class="pure-u-1-4 category">
	        <img src="http://www.windowsofnewyork.com/windows/207-w-16th.png"/>
	    </div>
	    <div class="pure-u-1-4 category">
	        <img src="http://www.windowsofnewyork.com/windows/207-w-16th.png"/>
	    </div>
	    <div class="pure-u-1-4 category">
	        <img src="http://www.windowsofnewyork.com/windows/207-w-16th.png"/>
	    </div>
	    <div class="pure-u-1-4 category">
	        <img src="http://www.windowsofnewyork.com/windows/207-w-16th.png"/>
	    </div>
	</div>
</div>
