<div id="feed" class="pure-g center">
    <div class="pure-u-1 feed-item">
        <div class="pure-u-1">
            <img class="pure-u-1 post-image" />
        </div>
        <div class="pure-u-1">
            <img class="profile-image" />
            <div class="post-info">
                <h5 class="event">Skydive</h5>
                {{!-- <h4 class="name">Holden Rehg</h4> --}}
                <h6 class="name"><i class="fa fa-user"></i> Holden Rehg</h6>
                <h6 class="time"><i class="fa fa-clock-o"></i> 1 hr</h6>
            </div>
            <i class="fa fa-check type"></i>
        </div>
        <div class="pure-u-1 content">
            <p>Bacon ipsum dolor sit amet pork loin ham hock kielbasa, bresaola ball tip shoulder prosciutto capicola pork belly beef swine biltong tenderloin. Pancetta short ribs flank beef, t-bone spare ribs ground round sausage. Boudin landjaeger beef ribs, leberkas capicola shankle tongue jowl spare ribs frankfurter tenderloin short ribs t-bone jerky doner. Drumstick turducken biltong salami kielbasa andouille ground round leberkas beef turkey sirloin beef ribs.</p>
            <p><span class="link">Tom Tommy.</span> <span class="link">Samantha Sam.</span> <span class="link">John Johnny.</span></p>
        </div>
    </div>
    <div class="pure-u-1 feed-item">
        <div class="pure-u-1">
            <img class="pure-u-1 post-image" />
        </div>
        <div class="pure-u-1">
            <img class="profile-image" />
            <div class="post-info">
                <h5 class="event">Skydive</h5>
                {{!-- <h4 class="name">Holden Rehg</h4> --}}
                <h6 class="name"><i class="fa fa-user"></i> Holden Rehg</h6>
                <h6 class="time"><i class="fa fa-clock-o"></i> 1 hr</h6>
            </div>
            <i class="fa fa-check type"></i>
        </div>
        <div class="pure-u-1 content">
            <p>Bacon ipsum dolor sit amet pork loin ham hock kielbasa, bresaola ball tip shoulder prosciutto capicola pork belly beef swine biltong tenderloin. Pancetta short ribs flank beef, t-bone spare ribs ground round sausage. Boudin landjaeger beef ribs, leberkas capicola shankle tongue jowl spare ribs frankfurter tenderloin short ribs t-bone jerky doner. Drumstick turducken biltong salami kielbasa andouille ground round leberkas beef turkey sirloin beef ribs.</p>
            <p><span class="link">Tom Tommy.</span> <span class="link">Samantha Sam.</span> <span class="link">John Johnny.</span></p>
        </div>
    </div>
    <div class="pure-u-1 feed-item">
        <div class="pure-u-1">
            <img class="pure-u-1 post-image" />
        </div>
        <div class="pure-u-1">
            <img class="profile-image" />
            <div class="post-info">
                <h5 class="event">Skydive</h5>
                {{!-- <h4 class="name">Holden Rehg</h4> --}}
                <h6 class="name"><i class="fa fa-user"></i> Holden Rehg</h6>
                <h6 class="time"><i class="fa fa-clock-o"></i> 1 hr</h6>
            </div>
            <i class="fa fa-check type"></i>
        </div>
        <div class="pure-u-1 content">
            <p>Bacon ipsum dolor sit amet pork loin ham hock kielbasa, bresaola ball tip shoulder prosciutto capicola pork belly beef swine biltong tenderloin. Pancetta short ribs flank beef, t-bone spare ribs ground round sausage. Boudin landjaeger beef ribs, leberkas capicola shankle tongue jowl spare ribs frankfurter tenderloin short ribs t-bone jerky doner. Drumstick turducken biltong salami kielbasa andouille ground round leberkas beef turkey sirloin beef ribs.</p>
            <p><span class="link">Tom Tommy.</span> <span class="link">Samantha Sam.</span> <span class="link">John Johnny.</span></p>
        </div>
    </div>
    <div class="pure-u-1 feed-item">
        <div class="pure-u-1">
            <img class="pure-u-1 post-image" />
        </div>
        <div class="pure-u-1">
            <img class="profile-image" />
            <div class="post-info">
                <h5 class="event">Skydive</h5>
                {{!-- <h4 class="name">Holden Rehg</h4> --}}
                <h6 class="name"><i class="fa fa-user"></i> Holden Rehg</h6>
                <h6 class="time"><i class="fa fa-clock-o"></i> 1 hr</h6>
            </div>
            <i class="fa fa-check type"></i>
        </div>
        <div class="pure-u-1 content">
            <p>Bacon ipsum dolor sit amet pork loin ham hock kielbasa, bresaola ball tip shoulder prosciutto capicola pork belly beef swine biltong tenderloin. Pancetta short ribs flank beef, t-bone spare ribs ground round sausage. Boudin landjaeger beef ribs, leberkas capicola shankle tongue jowl spare ribs frankfurter tenderloin short ribs t-bone jerky doner. Drumstick turducken biltong salami kielbasa andouille ground round leberkas beef turkey sirloin beef ribs.</p>
            <p><span class="link">Tom Tommy.</span> <span class="link">Samantha Sam.</span> <span class="link">John Johnny.</span></p>
        </div>
    </div>
</div>
