/**********

VARS 

/**********/
html {
  font-family: sans-serif;
  font-weight: 100;
  color: #666666;
    /**********

    RESET

    **********/
    /********** 

    CONTAINERS 

    **********/
    /********** 

    TYPOGRPAHY

    **********/
    /********** 

    GENERAL 

    **********/
    /********** 

    HOME SCREEN 

    **********/
    /**********

    PROFILE

    *********/
    /**********

    EXPLORE

    *********/
    /**********

    EXPLORE

    *********/ }
  html body, html main, html div, html p, html h1, html h2, html h3, html h4, html h5, html h6 {
    padding: 0;
    margin: 0; }
  html .pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  html header, html .header {
    text-align: center;
    padding: 25px; }
  html body.withsidenav {
    padding-left: 70px; }
  html .full-width {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto; }
  html .med-width {
    max-width: 1440px;
    padding: 0 12%;
    margin-left: auto;
    margin-right: auto; }
  html p {
    font-size: 9px; }
  html h2 {
    font-size: 40px; }
  html h3 {
    font-weight: 100;
    font-size: 25px; }
  html h4 {
    font-weight: 100;
    font-size: 15px; }
  html h5 {
    font-weight: 600;
    font-size: 13px; }
  html h6 {
    font-weight: 100;
    font-size: 12px; }
  html a {
    text-decoration: none;
    color: #b52a2a; }
  html #title {
    color: #b52a2a; }
  html .fa {
    font-size: 20px; }
    html .fa:hover {
      cursor: pointer; }
  html .fancy {
    font-family: 'Lobster'; }
  html .hide {
    visibility: hidden; }
  html .red {
    color: #b52a2a; }
  html .link {
    color: #b52a2a; }
    html .link:hover {
      cursor: pointer;
      color: #b84040; }
  html ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  html button, html input[type="submit"] {
    height: 40px;
    font-size: 15px;
    letter-spacing: 3px;
    border-radius: 2px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 100;
    width: 100%; }
    html button.white, html input[type="submit"].white {
      background: white;
      border: 2px solid #b52a2a;
      color: #b52a2a; }
      html button.white:hover, html input[type="submit"].white:hover {
        background: #b52a2a;
        color: white;
        transition: background .5s; }
    html button.red, html input[type="submit"].red {
      background: #b52a2a;
      border: 2px solid #b52a2a;
      color: white; }
      html button.red:hover, html input[type="submit"].red:hover {
        color: #f9f9f9;
        transition: background .5s; }
    html button.small, html input[type="submit"].small {
      height: 25px;
      width: auto;
      font-size: 12px; }
    html button#signin, html button#register, html input[type="submit"]#signin, html input[type="submit"]#register {
      display: inline-block;
      margin: 0 0 10px 0; }
  html form label {
    display: inline-block;
    min-width: 150px; }
  html form input[type="submit"] {
    float: right; }
  html form input:not([type="submit"]) {
    border: 2px solid #bdbdbd;
    padding: 5px; }
  html form .fieldset {
    width: 100%;
    padding: 10px 0 10px 0; }
  html form .error {
    background: #b52a2a;
    opacity: .5;
    color: white;
    transition: background .3s linear; }
  html form .message {
    text-align: right;
    font-size: 10px;
    color: red;
    padding-top: 5px;
    letter-spacing: 1px; }
  html form #spinner {
    padding: 7px 20px 7px 7px;
    float: right; }
  html aside#sidenav {
    position: fixed;
    top: 0;
    left: 0px;
    height: 100%;
    width: 70px;
    background: #b52a2a; }
    html aside#sidenav * {
      color: white; }
    html aside#sidenav li {
      text-align: center;
      padding: 20px 10px 20px 10px; }
      html aside#sidenav li:hover:not(#logo) {
        cursor: pointer;
        background: #b84040; }
    html aside#sidenav #logo {
      padding-bottom: 50px; }
  html .clearfix {
    clear: both; }
  html .none {
    display: none; }
  html .modal {
    position: fixed;
    display: none;
    top: 150px;
    left: 50%;
    border-radius: 5px;
    z-index: 600; }
    html .modal form {
      position: relative;
      padding: 20px;
      left: -50%;
      background: #fff; }
  html .overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    opacity: .75;
    z-index: 500; }
  html .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  html #content .short-con {
    height: 100px;
    padding: 0 10px 10px 0; }
    html #content .short-con .short {
      background: #f9f9f9;
      height: 100%;
      opacity: .5; }
      html #content .short-con .short:hover {
        cursor: pointer;
        opacity: 1;
        transition: opacity .5s; }
  html #content .tall-con {
    height: 400px;
    padding: 0 10px 10px 0; }
    html #content .tall-con .tall {
      background: #f9f9f9;
      height: 100%;
      opacity: .5; }
      html #content .tall-con .tall:hover {
        cursor: pointer;
        opacity: 1;
        transition: opacity .5s; }
  html #cover-image {
    position: relative;
    z-index: 50;
    min-height: 350px;
    text-align: center;
    background: url(https://static.licdn.com/scds/common/u/images/apps/profile/topcard_backgrounds/texture_desktop_1400x425.jpg);
    background-size: cover; }
  html #profile-info {
    width: 225px;
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 10px;
    margin-top: 100px; }
    html #profile-info > * {
      margin: 5px 0; }
  html #profile-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 4px solid #666666; }
  html .circle-list {
    padding: 40px;
    border-bottom: 5px solid #f9f9f9; }
    html .circle-list .list-title {
      font-size: 30px;
      text-align: center;
      width: 225px;
      margin-left: auto;
      margin-right: auto;
      padding: 25px 0; }
  html .todo-item {
    background: #eee;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: url(http://p1.pichost.me/640/41/1641233.jpg);
    margin-left: auto;
    margin-right: auto;
    background-size: 140%; }
    html .todo-item:hover {
      cursor: pointer; }
  html .graph {
    height: 100px; }
  html .category {
    padding: 10px; }
    html .category img {
      width: 100%;
      opacity: 0.5; }
      html .category img:hover {
        cursor: pointer;
        opacity: 1;
        transition: opacity .5s; }
  html #controls {
    color: #b52a2a; }
    html #controls i {
      font-size: 14px;
      padding: 0 8px; }
      html #controls i:hover {
        color: #b84040;
        cursor: pointer; }
  html #search {
    width: 50%;
    padding: 5px;
    background: white;
    border: 2px solid #bdbdbd;
    color: #666666;
    border-radius: 15px;
    text-align: center; }
  html #search-results {
    padding: 10px; }
  html #feed {
    width: 500px;
    padding: 60px 0 0 0; }
    html #feed .feed-item {
      padding: 0 0 60px 0; }
      html #feed .feed-item .post-image {
        height: 300px;
        background: #f9f9f9;
        border: 0; }
      html #feed .feed-item .profile-image {
        height: 60px;
        background: #f9f9f9;
        width: 60px;
        float: left;
        margin: 5px 5px 5px 0;
        border: 0; }
      html #feed .feed-item .post-info {
        float: left;
        width: 200px;
        margin: 5px 0 0 10px;
        text-align: left; }
        html #feed .feed-item .post-info .time, html #feed .feed-item .post-info .name {
          color: #bdbdbd; }
          html #feed .feed-item .post-info .time .fa, html #feed .feed-item .post-info .name .fa {
            font-size: 12px; }
        html #feed .feed-item .post-info * {
          margin: 2px 0; }
      html #feed .feed-item .type {
        float: right;
        font-size: 40px;
        margin: 5px 0 0 0; }
      html #feed .feed-item .content {
        text-align: left; }
        html #feed .feed-item .content p {
          font-size: 14px; }
