/**********

VARS 

/**********/
 $qubo-light: rgba(217, 113, 113, .8);
 $qubo-red: rgb(181, 42, 42);
 $dark-red: rgb(184, 64, 64);
 $white: #ffffff;
 $light-grey: #f9f9f9;
 $mid-grey: #bdbdbd;
 $dark-grey: #666;
 html {
    font-family: sans-serif;
    font-weight: 100;
    color: $dark-grey;
    /**********

    RESET

    **********/
    body, main, div, p, h1, h2, h3, h4, h5, h6 {
        padding: 0;
        margin: 0;
    }
    /********** 

    CONTAINERS 

    **********/
    .pure-g > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    header, .header {
        text-align: center;
        padding: 25px;
    }
    body {
        &.withsidenav {
            padding-left: 70px;
        }
    }
    main {
    }
    .full-width {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
    .med-width {
        max-width: 1440px;
        padding: 0 12%;
        margin-left: auto;
        margin-right: auto;
    }
    /********** 

    TYPOGRPAHY

    **********/
    p {
        font-size: 9px;
    }
    h1 {
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-weight: 100;
        font-size: 25px;
    }
    h4 {
        font-weight: 100;
        font-size: 15px;
    }
    h5 {
        font-weight: 600;
        font-size: 13px;
    }
    h6 {
        font-weight: 100;
        font-size: 12px;
    }
    a {
        text-decoration: none;
        color: $qubo-red;
    }
    #title {
        color: $qubo-red;
    }
    .fa {
        font-size: 20px;
        &:hover {
            cursor: pointer;
        }
    }
    .fancy {
        font-family:'Lobster';
    }
    .hide {
        visibility: hidden;
    }
    .red {
        color: $qubo-red;
    }
    .link {
        color: $qubo-red;
        &:hover {
            cursor: pointer;
            color: $dark-red;
        }
    }
    /********** 

    GENERAL 

    **********/
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    button, input[type="submit"] {
        height: 40px;
        font-size: 15px;
        letter-spacing: 3px;
        border-radius: 2px;
        cursor: pointer;
        font-family: sans-serif;
        font-weight: 100;
        width: 100%;
        &.white {
            background: $white;
            border: 2px solid $qubo-red;
            color: $qubo-red;
            &:hover {
                background: $qubo-red;
                color: $white;
                transition: background .5s;
            }
        }
        &.red {
            background: $qubo-red;
            border: 2px solid $qubo-red;
            color: $white;
            &:hover {
                color: $light-grey;
                transition: background .5s;
            }
        }
        &.small {
            height: 25px;
            width: auto;
            font-size: 12px;
        }
        &#signin, &#register {
            display: inline-block;
            margin: 0 0 10px 0;
        }
    }
    form {
        label {
            display: inline-block;
            min-width: 150px;
        }
        input[type="submit"] {
            float: right;
        }
        input:not([type="submit"]) {
            border: 2px solid $mid-grey;
            padding: 5px;
        }
        .fieldset {
            width: 100%;
            padding: 10px 0 10px 0;
        }
        .error {
            background: $qubo-red;
            opacity: .5;
            color: $white;
            transition: background .3s linear;
        }
        .message {
            text-align: right;
            font-size: 10px;
            color: red;
            padding-top: 5px;
            letter-spacing: 1px;
        }
        #spinner {
            padding: 7px 20px 7px 7px;
            float: right;
        }
    }
    aside {
        &#sidenav {
            position: fixed;
            top: 0;
            left: 0px;
            height: 100%;
            width: 70px;
            background: $qubo-red;
            * {
                color: $white;
            }
            li {
                text-align: center;
                padding: 20px 10px 20px 10px;
                &:hover:not(#logo) {
                    cursor: pointer;
                    background: $dark-red;
                }
            }
            #logo {
                padding-bottom: 50px;
            }
        }
    }
    .clearfix {
        clear: both;
    }
    .none {
        display: none;
    }
    .modal {
        position: fixed;
        display: none;
        top: 150px;
        left: 50%;
        border-radius: 5px;
        z-index: 600;
        form {
            position: relative;
            padding: 20px;
            left: -50%;
            background: #fff;
        }
    }
    .overlay {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f5f5f5;
        opacity: .75;
        z-index: 500;
    }
    .center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    /********** 

    HOME SCREEN 

    **********/
    #content {
        @mixin container() {
            background: $light-grey;
            height: 100%;
            opacity: .5;
            &:hover {
                cursor: pointer;
                opacity: 1;
                transition: opacity .5s;
            }
        }
        .short-con {
            height: 100px;
            padding: 0 10px 10px 0;
            .short {
                @include container();
            }
        }
        .tall-con {
            height: 400px;
            padding: 0 10px 10px 0;
            .tall {
                @include container();
            }
        }
    }
    /**********

    PROFILE

    *********/
    #cover-image {
        position: relative;
        z-index: 50;
        min-height: 350px;
        text-align: center;
        background: url(https://static.licdn.com/scds/common/u/images/apps/profile/topcard_backgrounds/texture_desktop_1400x425.jpg);
        background-size: cover;
    }
    #profile-info {
        width: 225px;
        background: rgba(255, 255, 255, .95);
        text-align: center;
        padding: 10px;
        margin-top: 100px;
        & > * {
            margin: 5px 0;
        }
    }
    #profile-image {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 4px solid $dark-grey;
    }
    .circle-list {
        padding: 40px;
        border-bottom: 5px solid $light-grey;
        .list-title {
            font-size: 30px;
            text-align: center;
            width: 225px;
            margin-left: auto;
            margin-right: auto;
            padding: 25px 0;
        }
    }
    .todo-item {
        background: #eee;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        background: url(http://p1.pichost.me/640/41/1641233.jpg);
        margin-left: auto;
        margin-right: auto;
        background-size: 140%;
        &:hover {
            cursor: pointer;
        }
    }
    .graph {
        height: 100px;
    }
    /**********

    EXPLORE

    *********/
    .category {
        padding: 10px;
        img {
            width: 100%;
            opacity: 0.5;
            &:hover {
                cursor: pointer;
                opacity: 1;
                transition: opacity .5s;
            }
        }
    }
    #controls {
        color: $qubo-red;
        i {
            font-size: 14px;
            padding: 0 8px;
            &:hover {
                color: $dark-red;
                cursor: pointer;
            }
        }
    }
    #search {
        width: 50%;
        padding: 5px;
        background: $white;
        border: 2px solid $mid-grey;
        color: $dark-grey;
        border-radius: 15px;
        text-align: center;
    }
    #search-results {
        padding: 10px;
    }
    /**********

    EXPLORE

    *********/
    #feed {
        width: 500px;
        padding: 60px 0 0 0;
        .feed-item {
            padding: 0 0 60px 0;
            .post-image {
                height: 300px;
                background: $light-grey;
                border: 0;
            }
            .profile-image {
                height: 60px;
                background: $light-grey;
                width: 60px;
                float: left;
                margin: 5px 5px 5px 0;
                border: 0;
            }
            .post-info {
                float: left;
                width: 350px;
                margin: 5px 0 0 10px;
                text-align: left;
                .time, .name {
                    color: $qubo-light;
                    .fa {
                        font-size: 12px;
                    }
                }
                * {
                    margin: 2px 0;
                }
            }
            .type {
                float: right;
                font-size: 40px;
                margin: 5px 0 0 0;
            }
            .content {
                text-align: left;
                p {
                    font-size: 14px;
                }
            }
            .comments {
                padding: 10px 0 0 50px;
                .comment {
                    font-size: 12px;
                }
                .profile-image {
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }
}
