body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }
  body a {
    color: #00B7FF; }
  body .pure-g {
    height: 50px; }
  body [class*="pure-u-"] {
    height: 50px; }
  body .blue {
    background: blue; }
  body .yellow {
    background: yellow; }
  body .green {
    background: green; }
