<div class="overlay"></div>
<div class="modal">
	<form>
		<div class="fieldset">
			<span><label for="email">Email</label></span>
			<span><input type="text" name="email" /></span>
		</div>
		<div class="fieldset">
			<span><label for="password">Password</label></span>
			<span><input type="password" name="password" /></span>
		</div>
		<div class="fieldset">
			<input type="submit" class="red small" value="Signin" />
		</div>
		<div class="clearfix"></div>
	</form>
</div>