<aside id="sidenav">
    <ul>
        <li id="logo" class="fancy">
            <h2>Q</h2>
        </li>
        <li id="sidenav-user" class="li-link"><i class="fa fa-user"></i>
            <p>me</p>
        </li>
        <li id="sidenav-feed" class="li-link"><i class="fa fa-list"></i>
            <p>recent</p>
        </li>
        <li id="sidenav-explore" class="li-link"><i class="fa fa-rocket"></i>
            <p>explore</p>
        </li>
        <li id="sidenav-settings" class="li-link"><i class="fa fa-gear"></i>
            <p>settings</p>
        </li>
        <li id="sidenav-logout" class="li-link"><i class="fa fa-sign-out"></i>
            <p>logout</p>
        </li>
    </ul>
</aside>
